

#contenedor, #contenedor1,#contenedor2{
	width: 20%;
	height: 81%;
	background: #fff;
	margin: 0 auto;
	margin-top: 10px;
	padding: 20px;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-o-border-radius: 12px;
	-webkit-border-radius: 12px;
	position: fixed;
	bottom: 0px;
	right: 19px;
	display: none;
}

#contenedor-usuaris, #buttonMinimitzar {
	width: 240px;
	height: 0%;
	background: #fff;
	margin: 0 auto;
	margin-top: 10px;
	padding: 20px;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-o-border-radius: 12px;
	-webkit-border-radius: 12px;
	position: fixed;
	bottom: 0px;
	right: 0px;
	display: none;
}

#buttonMinimitzarChat, #buttonMinimitzarChat1, #buttonMinimitzarChat2 {
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	background: #CCCCCC;
	height: 100%;
	width: 135%;
}

#users button{
	margin-left: 10px;
	margin-top: 10px;
	background: #fff;
}

#btnUser {
	/* width: 17.9%; */
	height: 0%;
	background: #fff;
	margin: 0 auto;
	margin-top: 10px;
	padding: 20px;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-o-border-radius: 12px;
	-webkit-border-radius: 12px;
	position: fixed;
	bottom: 0px;
	right: 0px;
}

#btnChat, #btnChat1, #btnChat2{
	width: 180px;
	height: 0%;
	background: #fff;
	margin: 0 auto;
	margin-top: 10px;
	padding: 20px;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-o-border-radius: 12px;
	-webkit-border-radius: 12px;
	position: fixed;
	bottom: 0px;
	right: 250px;
	display: none;
}

#btnChatUser2,#btnChatUser3,#btnChatUser4{
	width: 215px;
	height: 0px;
	background: #fff;
	margin: 0 auto;
	margin-top: 10px;
	padding: 20px;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-o-border-radius: 12px;
	-webkit-border-radius: 12px;
	position: fixed;
	bottom: 0px;
	right: 250px;
}

#buttonEnviar, #buttonEnviar1, #buttonEnviar2{
	background-color: #000;
	width: 96%;
	height: 9%;
	color: white;
}

#contenedor form{
	height: 0px
}

#caja-chat{
	padding: 10px;
	width: 113%;
	height: 75%;
	overflow-x: hidden;
	overflow-y: scroll;
	margin-left: -5.5%;
	padding-right: 0%;
}

#caja-chat::-webkit-scrollbar {
	width: 10px;
}

#caja-chat::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(0, 0, 0, .1);
	padding-left: 5px;
}
#users{
	padding: 10px;
	width: 233px;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	margin-bottom: 20px;
	margin-left: -12px;
	padding-right: 22px;
}
#users::-webkit-scrollbar {
	width: 10px;
}

#users::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(0, 0, 0, .1);
}

#datos-chat{
	margin-bottom: 5px;
	border: 1px solid silver;
	font-weight: bold;
	font-family: calibri;
	width: 90%;
	padding: 15px;
	margin: 5px 10px 0;
	border-radius: 10px;
	font-size: 10px;

}

#hora {
	font-weight: bold;
	font-family: calibri;
	font-size: 10px;
	float: right;
}


#textarea1,#textarea2,#textarea3{
	background: #fbfbfb;
	width: 96%;
	height: 10px;
	border: 2px solid #eee;
	border-radius: 3px;
	resize: none;
	padding: 10px;
	font-size: 10px;
	color: #333;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
}

input[type='submit'] {
	width: 96%;
	height: 20px;
	padding: 5px 15px;
	font-size: 10px;
	background-color: #333;
	color: #fff;
	border: none;
	margin: 0 10px;
	border-radius: 3px;
	box-shadow: 0 3px;
	cursor: pointer;
	-webkit-transition: .2s ease;
	-moz-transition: .2s ease;
	-o-transition: .2s ease;

}

input[type='submit']:hover {
	background: #13c8d9;
}

textarea {
	background: #fbfbfb;
	width: 96%;
	height: 35px;
	border: 2px solid #CCCCCC;
	border-radius: 3px;
	resize: none;
	font-size: 13px;
	color: #333;
	margin-top: 7%;

}

textarea:focus {
	background: #fff;
}

textarea::-webkit-scrollbar {
	width: 0px;
}

textarea::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: rgba(0, 0, 0, .1);
}

input, textarea{
	margin-bottom: 3px;
}

 #icon {
	width: 15px;
	height: 15px;
	margin-left: -7px;
	margin-top: -15px;
}

#cerrar, #cerrarUser {
  	width: 0%;
	height: 3%;
	background: #CCCCCC;
	margin-top: -1.7%;
	float: right;
	position: fixed;
}

#minimizar,#minimizar1,#minimizar2, #minimizarInici {
	border-top-right-radius: 12px;
	border-top-left-radius: 12px;
	background: #ccc;
	height: 30px;
	width: 240px;
	margin-top: -20px;
	margin-left: -20px;
	padding-right: 40px;

} 

.li {
	width: 100%;
	height: 40px;
	margin-bottom: -30px;
	color: #fff !important;
	background-color: #000 !important;
	display: inline-block;
	padding: 8px 16px;
	overflow: hidden;
	color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}

.ul{
	margin-left: -35px;
}